@model Rhendaria.Web.Models.PlayerStateViewModel

@{
    ViewData["Title"] = "Game View";
}

<h2>View</h2>

<div>
    <h4>PlayerStateViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerPositionX)
        </dt>
        <dd>
            <div id="player.position.x">
                @Html.DisplayFor(model => model.PlayerPositionX)
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerPositionY)
        </dt>
        <dd>
            <div id="player.position.y">
                @Html.DisplayFor(model => model.PlayerPositionY)
            </div>
        </dd>
    </dl>
</div>

<div id="game-field">
    
</div>

<script src="~/lib/signalr.min.js"></script>
<script src="~/js/pixi.min.js"></script>
<script src="~/js/gameCommunication.js"></script>
<script src="~/js/game.js"></script>

<script type="text/javascript">
    window.onkeydown = function (e) {
        var code = e.keyCode ? e.keyCode : e.which;
        if (code === 37) {
            move('Left');
        } else if (code === 38) {
            move('Up');
        } else if (code === 39) {
            move('Right');
        } else if (code === 40) {
            move('Down');
        }
    };

    gameCommunication.setOnMove((data) => {
        console.log(data);
        document.getElementById('player.position.x').innerText = data.left;
        document.getElementById('player.position.y').innerText = data.top;
    });

    function move(direction) {
        gameCommunication.move('@Model.Username', direction);
    }    
</script>